In [9]:
import pandas as pd

df = pd.read_csv('flights.csv')
#print(df.head(10))

num_airports = len(df.index)


print(num_airports)
df.head(10)

5335

  origin destination  count
0  JAX_0       IAD_1      0
1  SMF_0       DFW_1      0
2  LAX_0       SMF_1      0
3  TPA_0       MEM_1      0
4  MSP_0       SMF_1      0
5  ORD_0       SAT_1      0
6  SEA_0       SMF_1      0
7  BOS_0       MEM_1      0
8  RNO_0       SMF_1      0
9  LAX_0       SAT_1      0

In [14]:
chicago_flights = df[df['origin'].apply(lambda x: x.startswith('ORD'))]

In [36]:
chicago_flights['destination'].apply(lambda x: x[0:3]).value_counts()

SAT    12
SMF    12
SEA    12
LGA    12
SLC    12
RNO    12
PWM    12
BOS    12
ANC    12
TPA    12
SYR    12
PHL    12
AUS    12
CLT    12
MSP    12
DTW    12
IAD    12
DCA    12
DFW    12
MCI    12
LAX    12
BNA    12
RDU    12
CLE    12
JAX    12
MEM    12
SAV    11
MDW     2
Name: destination, dtype: int64